header
{padding-top: 5px; background-color:#4799e6;}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  padding-left: 30px;
  width: 90%;
}

.topnav a
{ text-decoration: none; 
  display: inline;
  float: right;
  font-size: 20px;
  color: #003366;
  padding: 14px;
background-color:#4799e6} 

.topnav a:hover 
{background-color: #ffebeb33; color: #ffffff;}




