/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  padding-left: 30px;
  width: 90%;
}


.topnav a
{ display: inline;
  float: right;
  display: block;
  font-size: 20px;
  color: #4b87e7;
  padding: 14px;
  text-decoration: none; 
background-color:#4799e6} 

.topnav a:hover 
{background-color: #ffebeb33; color: #ffffff;}


