@import url('headerStyle.css');
p.one {
  border-style: inset;
  border-width: 5px 20px; /* 5px top and bottom, 20px on the sides */
  border-color: #2596be;
}
body{background-color: lightskyblue;}
p{color:#006f94;
  font-family: Arial;}
#describe{color:#004e75} 
h1{font-family: Arial, Times New Roman; }
h2{font-family: Arial, Times New Roman; }
h4{font-family: Arial, Times New Roman; }
p1{font-color: #ffffff;
  font-family: Arial;
  padding: 5px;
  border: 1px solid #009dd1;
  background-color:#3399FF}
p2{color: #87cefa;
  font-family: Arial; }
.beach
{ text-decoration: none; 
  font-size: 12px;
  color: #CC690E;
  padding: 6px;
background-color:#4799e6}
.sunlight
{ text-decoration: none; 
  font-size: 12px;
  color: #FFFFFF;
  padding: 6px;
background-color:#4799e6}
.twilight
{ text-decoration: none; 
  font-size: 12px;
  color: #377B4A;
  padding: 6px;
background-color:#4799e6}
.midnight
{ text-decoration: none; 
  font-size: 12px;
  color: #C03E55;
  padding: 6px;
background-color:#4799e6}
.abyss
{ text-decoration: none; 
  font-size: 12px;
  color: #213FAB;
  padding: 6px;
background-color:#4799e6}
.trenches
{ text-decoration: none; 
  font-size: 12px;
  color: #000000;
  padding: 6px;
background-color:#4799e6}
