html, body {
  height: 100%;
  width: 100%;

}

#side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #ffe6e6;
  padding: 20px;
  color: #333;
  text-align:center;
}

#main1 {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #e99fd2;
}


/* Image Container */
#imgcontmain {
  background-color: #a3e5ba;
  width: 100%;
  padding: 20px;
}

#imgcontside{
  width: 100%;
}

/* Image Formatting */
#img{
  display:block;
  margin:auto;
}
#main2 {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #fa87c8;
    
#boxleft {
  width: 300px;
  border: 3px solid #ff9999;
  padding: 10px;
  margin: 20px;
  float: left;
}
#boxright {
  width: 300px;
  border: 3px solid #ff9999;
  padding: 10px;
  margin: 20px;
  float: right;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #333;
  color: white;
}

 
}


h1{color: black;}
